<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Boutiq Studio" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://boutiq.studio" />
    <meta property="og:image" content="http://boutiq.studio/assets/img/logo.svg" />
    <meta property="og:description" content="Beautiful, custom & efficient web solutions" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@boutiqstudio" />
    <meta name="twitter:title" content="Boutiq Studio" />
    <meta name="twitter:description" content="Beautiful, custom & efficient web solutions" />
    <meta name="twitter:creator" content="@boutiqstudio" />
    <meta name="twitter:image" content="http://boutiq.studio/assets/img/logo.svg" />
    <meta itemprop="name" content="Boutiq Studio" />
    <meta itemprop="description" content="Beautiful, custom & efficient web solutions" />
    <meta itemprop="image" content="http://boutiq.studio/assets/img/logo.svg" />

    <meta name="theme-color" content="#004FFF" />
    <meta name="msapplication-navbutton-color" content="#004FFF" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#004FFF" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml" />

    <title>Boutiq Studio</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/ />
    <link rel="stylesheet" href="/assets/css/glide.core.min.css" />
  </head>
  <body>
    <nav role="navigation">
      <img src="/assets/img/logo.svg" alt="Boutiq Studio" />
      <div id="hamburger-menu-button">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <div class="sidebar">
      <ul>
        <li class="welcome-link"><a href="#welcome">WELCOME</a></li>
        <li class="our-services-link"><a href="#our-services">OUR SERVICES</a></li>
        <li class="why-choose-us-link"><a href="#why-choose-us">WHY CHOOSE US?</a></li>
        <li class="portfolio-link"><a href="#portfolio">PORTFOLIO</a></li>
        <li class="get-to-know-us-link"><a href="#get-to-know-us">GET TO KNOW US</a></li>
        <li class="contact-us-link blue"><a href="#contact-us">CONTACT US</a></li>
      </ul>
    </div>
    <header id="welcome">
      <h1>Beautiful, Custom &amp; Efficient<br/><span class="second-line">web solutions</span></h1>
      <p class="call-to-action">Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor.</p>
      <div class="glide glide-main" id="our-services">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="slider-item" style="background-image: url(/assets/img/digital-project-management.png);">
                <h2>DIGITAL PROJECT MANAGEMENT</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscina elit ipsum dolor.</p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="slider-item" style="background-image: url(/assets/img/user-experience-design.png);">
                <h2>USER EXPERIENCE DESIGN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscina elit ipsum dolor.</p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="slider-item light" style="background-image: url(/assets/img/optimal-web-performance.png);">
                <h2>OPTIMAL WEB PERFORMANCE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscina elit ipsum dolor.</p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="slider-item light" style="background-image: url(/assets/img/totally-custom-solutions.png);">
                <h2>TOTALLY CUSTOM SOLUTIONS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscina elit ipsum dolor.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="gray" id="why-choose-us">
      <h2>Why choose <strong>Us?</strong></h2>
      <div class="column-container">
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper gravida lacus, eget facilisis augue. Donec porta, orci non tempor tristique, nunc augue fringilla ipsum, eu commodo felis metus et turpis Donec porta, orci non.</p></div>
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper gravida lacus, eget facilisis augue. Donec porta, orci non tempor tristique, nunc augue fringilla ipsum, eu commodo felis metus et turpis Donec porta, orci non.</p></div>
        <div>
          <p>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <a href="#">Lorem ipsum dolor sit amet</a>
          </p>
        </div>
      </div>
    </section>
    <section class="clients-section" id="portfolio">
      <h2>Some of <strong>our clients</strong></h2>
      <div class="clients">
        <div class="client-counter">
          <p><strong>100</strong><br/>Clients</p>
          <p><strong>5</strong><br/>Clients</p>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/bosch-tool.png)"></div>
          <div class="project-description">
            <h3>Bosch Tool</h3>
            <p>Internal systems</p>
          </div>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/frame.png)"></div>
          <div class="project-description">
            <h3>Frame</h3>
            <p>eCommerce website</p>
          </div>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/makey-makey.png)"></div>
          <div class="project-description">
            <h3>Makey Makey</h3>
            <p>Online project</p>
          </div>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/faherty.png)"></div>
          <div class="project-description">
            <h3>Faherty Brands</h3>
            <p>eCommerce Website</p>
          </div>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/interproteccion.png)"></div>
          <div class="project-description">
            <h3>INTERprotección</h3>
            <p>Internal systems</p>
          </div>
        </div>
        <div class="project-container">
          <div class="project-image" style="background-image: url(/assets/img/visaje.png)"></div>
          <div class="project-description">
            <h3>Visaje jobs</h3>
            <p>UX redesign</p>
          </div>
        </div>
        <div>
          <a href="#" class="no-decor">
            <div class="client-link">
              <h3>See our<br/>work</h3>
              <p class="arrow">→</p>
            </div>
          </a>
        </div>
      </div>
      <div class="glide glide-clients">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/bosch-tool.png)"></div>
                <div class="project-description">
                  <h3>Bosch Tool</h3>
                  <p>Internal systems</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/frame.png)"></div>
                <div class="project-description">
                  <h3>Frame</h3>
                  <p>eCommerce website</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/makey-makey.png)"></div>
                <div class="project-description">
                  <h3>Makey Makey</h3>
                  <p>Online project</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/faherty.png)"></div>
                <div class="project-description">
                  <h3>Faherty Brands</h3>
                  <p>eCommerce Website</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/interproteccion.png)"></div>
                <div class="project-description">
                  <h3>INTERprotección</h3>
                  <p>Internal systems</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="project-container">
                <div class="project-image" style="background-image: url(/assets/img/visaje.png)"></div>
                <div class="project-description">
                  <h3>Visaje jobs</h3>
                  <p>UX redesign</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="client-link client-link2">
        <h3>See our<br/>work</h3>
        <p class="arrow">→</p>
      </div>
    </section>
    <section class="gray" id="get-to-know-us">
      <div class="column-container">
        <div><h2>Get to <strong>know us</strong></h2></div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper gravida lacus, eget facilisis augue. Donec porta, orci non tempor tristique, nunc augue fringilla ipsum, eu commodo felis metus et turpis.</p>
          <p>Phasellus eu felis vel justo porta varius. Phasellus placerat massa in fermentum tempor.</p>
        </div>
      </div>
    </section>
    <section class="contact" id="contact-us">
      <div class="column-container">
        <div>
          <h2>Contact <strong>us</strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper gravida lacus, eget facilisis augue. Donec porta, orci non tempor tristique, nunc augue fringilla ipsum, eu commodo felis metus et turpis Donec porta, orci non.</p>
        </div>
        <div>
          <form action="">
            <input type="text" placeholder="name" />
            <input type="email" placeholder="your@email.com" />
            <textarea id="contact-message" name="contact-message" rows="4" placeholder="Your message"></textarea>
            <input type="submit" />
          </form>
        </div>
      </div>
    </section>
    <footer class="column-container">
      <div class="info">
        <img src="/assets/img/logo-white.svg" alt="Boutiq Studio" class="logo" />
        <hr />
        <p class="info-copy"><strong>Boutiq Studio &copy; 2019</strong><br/>All rights reserved</p>
        <p class="info-contact">info@boutiq.studio<br/>+52 (686) 288 7357</p>
        <div class="social-media"><a href="#"><img src="/assets/img/facebook.svg" alt="Facebook"></a><a href="#"><img src="/assets/img/dribbble.svg" alt=""></a><a href="#"><img src="/assets/img/instagram.svg" alt="Instagram"></a></div>
      </div>
      <div class="sitemap" class="column-container">
        <h2>SITEMAP</h2>
        <ul class="bold">
          <li><a href="#" class="no-decor">Homepage</a></li>
          <li><a href="#" class="no-decor">Our services</a></li>
          <li><a href="#" class="no-decor">Portfolio</a></li>
          <li><a href="#" class="no-decor">About us</a></li>
          <li><a href="#" class="no-decor">Contact us</a></li>
        </ul>
        <ul>
          <li><a href="#" class="no-decor">Tutorials</a></li>
          <li><a href="#" class="no-decor">Enduro.js</a></li>
          <li><a href="#" class="no-decor">PageSpeed Insights</a></li>
          <li><a href="#" class="no-decor">Digital Ocean</a></li>
        </ul>
        <ul>
          <li><a href="#" class="no-decor">Blog</a></li>
          <li><a href="#" class="no-decor">Case Studies</a></li>
          <li><a href="#" class="no-decor">News</a></li>
          <li><a href="#" class="no-decor">License</a></li>
        </ul>
      </div>
    </footer>

    <div id="hamburger-menu">
      <ul>
        <li class="welcome-link"><a href="#welcome">WELCOME</a></li>
        <li class="our-services-link"><a href="#our-services">OUR SERVICES</a></li>
        <li class="why-choose-us-link"><a href="#why-choose-us">WHY CHOOSE US?</a></li>
        <li class="portfolio-link"><a href="#portfolio">PORTFOLIO</a></li>
        <li class="get-to-know-us-link"><a href="#get-to-know-us">GET TO KNOW US</a></li>
        <li class="contact-us-link blue"><a href="#contact-us">CONTACT US</a></li>
      </ul>
    </div>
    <script>
(function() {
  if (typeof NodeList.prototype.forEach === "undefined") {
    NodeList.prototype.forEach = Array.prototype.forEach;
  }
  if (typeof HTMLCollection.prototype.forEach === "undefined") {
    HTMLCollection.prototype.forEach = Array.prototype.forEach;
  }
})();
window.$ = document.querySelector.bind(document);
window.$$ = document.querySelectorAll.bind(document);
    </script>
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/hamburger-menu.js"></script>
    <script src="/assets/js/glide.min.js"></script>
    <script src="/assets/js/glide.js"></script>
  </body>
</html>
